<%- include('partials/header') %>

<h1>CTF Lab Prototype Pollution</h1>

<div class="buttons">
  <a href="/register" class="button">Đăng ký</a>
  <a href="/login" class="button">Đăng nhập</a>
</div>

<%- include('partials/footer') %>

